#App
APP_PORT=3001
NODE_ENV=development
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
DOMAIN_NAME=localhost

#Database
DB_HOST=nest_boilerplate_mysql
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_ROOT_PASSWORD=your_db_root_password
DB_NAME=your_db_name
DATABASE_URL="mysql://your_db_user:your_db_password@nest_boilerplate_mysql:3306/your_db_name"

# Redis
REDIS_HOST=nest_boilerplate_redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password